name: Push Artifact to Public Repository

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Download artifact
        run: |
          mkdir -p artifacts
          curl -L -o artifacts/BootLauncherLite.zip https://github.com/torment78/BootLauncherLite/releases/download/snapshot-latest/BootLauncherLite.zip

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Unzip artifact
        run: powershell Expand-Archive -Path artifacts/BootLauncherLite.zip -DestinationPath artifacts

      - name: Push artifact to public repo
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          
          git remote add public_repo https://github.com/torment78/BootLauncherLite-.git
          echo "${{ secrets.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 }}" | git credential approve
          
          cp artifacts/BootLauncherLite.zip .
          git add BootLauncherLite.zip
          git commit -m "Deploy compiled artifact"
          git push public_repo master
        env:
          PUBLIC_REPO_TOKEN: ${{ secrets.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 }}
